#home {
	#WEB {
		.trans_h1 {
			margin: 2rem 1rem;
		}
		.selection{
			margin: 0 auto;
			display: flex;
			.mag_icon {
				margin: 0 0.5rem;
				font-size: 2.5rem;

				&:hover {
					cursor: pointer;
				}
			}
			.selection_lang {
				// display: inline;
				margin: 0 0.3rem;
				flex: 1;
				display: flex;
				.swap_icon {
					margin: 0 0.3rem;
					flex: 0.03;
				}
				select{
					// width: 18%;
					flex: 1;
					min-width: 260px; 
					font-size: 1rem;
					padding: 1rem;
					border : 1px solid lightgrey;
					background-color: white;
					option{
						font-size: 1rem;
					}
					&:hover { 
						cursor: pointer;
					}
				}
			}
			.selection_date {
				display: inline;
				border : 1px solid lightgrey;
				background-color: white;
				padding: 1rem;
				// width: 18%;
				flex: 0.5;
				font-size: 1rem;
				margin-right: 0.3rem;
			}
			// .selection_time {
			// 	display: inline;
			// 	border : 1px solid lightgrey;
			// 	background-color: white;
			// 	padding: 1rem;
			// 	// width: 18%;
			// 	flex: 0.5;
			// 	font-size: 1rem;
			// 	margin: 0 0.3rem;
			// }
			.selection_egg {
				display: inline;
				border : 1px solid lightgrey;
				background-color: white;
				padding: 1rem;
				// width: 18%;
				flex: 0.5;
				font-size: 1rem;
				// margin: 0 0.3rem;
			}
		}	
	
		.home_main{
			text-decoration:none;
			.cardList {
				margin: 2rem 1rem;
				list-style: none;
				ul {
					padding-left: 0;
				}
				.router{
					text-decoration:none;
					color: black;
				}
				.card {
					background-color: white;
					width: 100%;
					height: 33vh;
					border: 1px solid lightgray;
					margin: 1.5rem 0;
					padding: 1.5rem 2rem;
					.profile {
						display: flex;
						.profile_image {
							width: 50px;
							height: 50px;
							border-radius: 5rem;
							// overflow: hidden;
						}
						.center {
							margin-top: 3%;
							font-size: 1.2rem;
							margin-left: 2%;
						}
						.point {
							border: 1px solid lightgray;
							border-radius: 1rem;
							padding: 0.3rem 0.5rem;
							background-color: white;
							margin-right: 0.5rem;
							font-weight: bold;
							height: 6%;
							.egg_icon{
								color: #FFAB00;
							}
						}
					}
					.card_content{
						margin: 2rem 0;
					}
					.inline {
						display: inline;
						font-size: 1rem;
						margin: 1rem 0.5rem;
					}
					&:hover {
						cursor : pointer;
					}
				} 
				
			}
			// .searchImg {
			// 	width: 100% 
			// }
	
			.applyTrans{
				border: 1px solid lightgray;
				margin-top: 2rem;
				// margin-right: 4rem;
				height: 140px;
				padding: 1rem 1rem;
				background-color: white;
				.router {
					text-decoration: none;
				}
				.btns {
					margin-bottom: 3rem;
					.btn_blue {
						background-color: #FF5252;
						padding: 1.7rem 0;
						color: white;
						width: 70%;
						justify-content: center;
						font-size: 1.2rem;
						font-weight: bold;
						margin: 1rem 15%;
					}
					.btn {
						border: 2px solid #FF5252;
						padding: 1.7rem 0;
						color: #FF5252;
						width: 70%;
						background-color: white;
						font-size: 1.2rem;
						font-weight: bold;
						margin: 0 15%;
					}
				}
	
				.lately_trans{
					margin: 1rem 5%;
	
					.profile_img {
						margin: 1rem 0;
						width: 25%;
						height: 25%;
						border-radius: 5rem;
					}
				}
			}
		}
	}
	
	#Mobile {
		.trans_h3 {
			margin: 1rem;
		}

		.selection{
			margin: 1rem ;
			.selection_lang {
				display: inline;
				.swap_icon {
					margin: 0 0.5rem;
				}
				select{
					width: 150px;
					font-size: 1rem;
					padding: 0.8rem;
					border : 1px solid lightgrey;
					background-color: white;
					option{
						font-size: 1.3rem;
					}
					&:hover { 
						cursor: pointer;
					}
				}
			}
			.selection_date {
				display: inline;
				border : 1px solid lightgrey;
				background-color: white;
				padding: 0.8rem;
				width: 150px;
				font-size: 1rem;
				margin-top: 1rem;
				margin-right: 2.5rem;
			}
			.selection_time {
				display: inline;
				border : 1px solid lightgrey;
				background-color: white;
				padding: 0.8rem;
				width: 150px;
				font-size: 1rem;
				margin-top: 1rem;
			}
		}

		
		.cardList {
			margin: 2rem 1rem;
			list-style: none;
			.card {
				background-color: white;
				width: 100%;
				height: 23vh;
				border: 1px solid lightgray;
				margin: 1.5rem 0;
				padding: 1rem;
				.swap_icon{
					font-size: 1rem;
				}
				.profile {
					display: flex;
					.profile_image {
						width: 15%;
						height: 15%;
						border-radius: 5rem;
					}
					.center {
						margin-top: 3%;
						font-size: 0.9rem;
						margin-left: 2%;
					}
					.point {
						border: 1px solid lightgray;
						border-radius: 1rem;
						padding: 0.3rem 0.5rem;
						background-color: white;
						margin-right: 0.2rem;
						font-weight: bold;
						height: 5%;
						.egg_icon{
							color: #FFAB00;
							font-size: 1rem;
						}
					}
				}
				.card_content{
					margin: 1rem 0;
				}
				.inline {
					display: inline;
					margin: 1rem 0;
					font-size: 0.8rem;
				}
				.inline2 {
					margin-top: 1rem;
				}
				&:hover { 
						cursor: pointer;
					}
			}
		}

		.applyTrans{
			.btns {
				display: inline;
				.btn_blue {
					background-color: #FF5252;
					padding: 1.4rem 0;
					color: white;
					width: 40%;
					justify-content: center;
					font-size: 0.8rem;
					font-weight: bold;
					margin: 1rem 5%;
				}
				.btn {
					border: 2px solid #FF5252;
					padding: 1.3rem 0;
					color: #FF5252;
					width: 40%;
					background-color: white;
					font-size: 0.8rem;
					font-weight: bold;
					margin: 0.5rem 5%;
				}
			}
		}
	}
}
