.flex_pure {
  display: flex;
  margin-bottom: 20px;
   
  .center_pure {
    margin: 20px auto 0;

    .img_logo_1000 {
      width: 10vw;
    }

    .img_logo_600 {
      width: 20vw;
    }
  }

  .right {
    margin: 5vh 0;
    span{
      .nav_icon{
        margin: 0 1rem;
        color: #9575CD
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

body {
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
  background-color: #fafafa !important;
}

#bg {
  background-color: #fafafa;
}

.curs {
  cursor: pointer;
}

.img_mobile {
  width: 35%;
  margin-left: 5px;
}

.cont10 {
  margin: 0 10vw;
}

.cont1 {
  margin: 1vw 2vw;
}

.bg-white {
  background-color: #FFFFFF;
  .mobile_nav {
    .nav {
      margin-top: 10px;
      .nav_icon{
        margin: 0 0.3rem;
        color: #9575CD;
        font-size: 1.5rem;
      }
    
      &:hover {
        cursor: pointer;
      } 
    }
  }
}