* {
    box-sizing: border-box;
  }
  
  .user-box {
    background-color: white;
    margin: 3vh 0;
      
    .box{
      width: 10vw;
      height: 10vw; 
      border-radius: 70%;
      overflow: hidden;
      margin: 1.3vh 4vw;
    }
    .pure-mt {
      margin-top: 1.8vw;
  
      .nick-size {
        font-size: 1.8vw;
        font-weight: bold;
      }
  
      p, span {
        font-size: 1.2vw;
      }
    }  
  }

  .card-container {
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	// text-align: center;
	.pro {
		color: #231E39;
		background-color: #FEBB0B;
		border-radius: 3px;
		font-size: 14px;
		font-weight: bold;
		padding: 3px 7px;
		position: absolute;
		top: 30px;
		left: 30px;
	}
	.round {
		border: 1px solid #03BFCB;
		border-radius: 50%;
    padding: 7px;
    width: 127px;
    height: 128px;
	}
}
button.primary_pure {
	background-color: #FF5252;
	border: 1px solid #FF5252;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}
button.primary_pure.ghost {
	background-color: transparent;
	color:#FF5252;
}
.skills {
	background-color: #FFFFFF;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			border: 1px solid #2D2747;
			border-radius: 2px;
			display: inline-block;
			font-size: 12px;
			margin: 0 7px 7px 0;
			padding: 7px;
		}
	}
}

.bg-white {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  position: relative;
	width: 350px;
	max-width: 100%;
}
